.chat-box {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 10px;
    width: 39rem;
}

.chat-messages {
    height: 460px;
    overflow-y: scroll;
}

.chat-message {
    background-color: #fff;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.chat-form {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.chat-form input[type="text"] {
    border: 1px solid #ccc;
    padding: 5px;
    width: 80%;
}

.chat-form button {
    background-color: #4CAF50;
    color: #fff;
    padding: 5px;
    width: 20%;
}