/* menu hamburger mobile */
#menu-toggle:checked+#menu {
    display: block;
}


/* image dropdown hidden */
select{
     background-image: url('/storage/icons/chevron-down-solid 1.svg');
    background-size: 15px;
    background-color: #fff;
    border-color: transparent;
    border-width: 0;
    border-radius: 0px;
    padding: 0;
}
/*select maps*/
select#maps{
    background-image: url('/storage/icons/icon-maps.svg');
    background-size: 15px;
    background-color: #fff;
    border-color: transparent;
    border-width: 0;
    border-radius: 0px;
    padding: 0;
}
/*select point*/
select#point{
    background-image: url('/storage/icons/location-dot-solid 1.svg');
    background-size: 15px;
    background-color: #fff;
    border-color: transparent;
    border-width: 0;
    border-radius: 0px;
    padding: 0;
}

input#time.form-control.gj-textbox-md{
    border: transparent;
    width: 7.33rem;
    height: 2.7rem;
}


/* timepicker mobile */
@media only screen and (max-width: 678px) {
    select{
        /*background-image: none;*/
    }

    input#time.form-control.gj-textbox-md{
        font-size: 7px;
        width: 2.85rem;
        height: 2.45rem;
    }
  }

  /*tablet*/
  @media only screen and (max-width: 810px) {
    input#time.form-control.gj-textbox-md{
        font-size: 7px;
        width: 2.85rem;
        height: 2.45rem;
    }
  }

  /* input numbering */
  .numberstyle-qty {
    position: relative;
        border-radius: 6px;
    background-color: $inputBg;
    overflow: hidden;
        box-shadow: 0 3px 6px rgba($inputText,0.25);
    }

    .numberstyle-qty input,
    .numberstyle-qty .qty-btn {
    position: relative;
    display: block;
    float: left;
    height: 40px;
    padding: 0;
    margin: 0;
        border: 0px;
    text-align: center;
    line-height: 40px;
    outline: 0;
    box-shadow: 0px;
    }

    .numberstyle-qty .qty-btn {
    width: 40px;
    font-size: 18px;
    cursor: pointer;
    z-index: 2;
    user-select: none;
    transition: all 250ms ease;
    }

    .numberstyle-qty .qty-btn.disabled {
    cursor: default;
    color: rgba($inputText,0.5);
    }

    .numberstyle-qty input {
    width: 50px;
    border-left: 0;
    border-right: 0;
        color: $inputText;
    font-size: 18px;
        font-weight: 700;
    z-index: 1;
    }

    .numberstyle-qty input:focus {
    outline: 0;
    box-shadow: 0px;
    }

    .numberstyle-qty input[type=number]::-webkit-inner-spin-button,
    .numberstyle-qty input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    .numberstyle-qty input[type=number] {
    -moz-appearance: textfield;
    }

    /* checked div transfer formulir */
    .answer {
        display: none;
      }

      
/* Maps SVG */
.cardList{
    display: block;
}
.active{
    fill: #FFB800;
}
.aktif{
    color: #FFFFFF;
}
.fil2{
    fill:#F25353;
}
.fil1 {
    fill:white; 
    -webkit-filter: drop-shadow( 0 0 1px rgba(0, 0, 0, .3));
    filter: drop-shadow( 0 0 1px rgba(0, 0, 0, .3));
}

.sumatra{
    fill: #9E9F3B;
}
.jawa{
    fill: #FFE815;
}
.maluku{
    fill: #79D327;
}
.kalimantan{
    fill: #0C9B56;
}
.sulawesi{
    fill: #BD55DA;
}
.bali_nusa{
    fill: #2DC5B5 ;
}
.papua{
    fill: #17991B ;
}

.sumatra:hover{
    fill: #FFB800;
}
#sumatra div:hover{
    text-shadow: 0 0 7px #ffffff;
}
.jawa:hover{
    fill: #FFB800;
}
#jawa div:hover{
    text-shadow: 0 0 7px #ffffff;
}
.maluku:hover{
    fill: #FFB800;
}
#maluku div:hover{
    text-shadow: 0 0 7px #ffffff;
}
.kalimantan:hover{
    fill: #FFB800;
}
#kalimantan div:hover{
    text-shadow: 0 0 7px #ffffff;
}
.sulawesi:hover{
    fill: #FFB800;
}
#sulawesi div:hover{
    text-shadow: 0 0 7px #ffffff;
}
.bali_nusa:hover{
    fill: #FFB800;
}
#bali_nusa div:hover{
    text-shadow: 0 0 7px #ffffff;
}
.papua:hover{
    fill: #FFB800;
}
#papua div:hover{
    text-shadow: 0 0 7px #ffffff;
}
.map__image svg{
    width: 1142px; 
    height: 414px;
}

#sumatra{
    top: -1100%; 
    left: 240%;
}
#kalimantan{
    top: -1110%; 
    left: 700%;
}
#sulawesi{
    top: -990%; 
    right: -1090%;
}
#maluku{
    top: -1000%; 
    right: -1400%;
}
#papua{
    top: -880%; 
    right: -1920%;
}
#bali{
    top: -510%; 
    left: 950%;
}
#jawa{
    top: -610%; 
    left: 650%;
}

@media only screen and (max-width: 390px) {
    .map__image svg{
        width: 340px;
        height: 150px; 
    }
    #sumatra{
        top: -950%; 
        left: 200%;
    }
    #kalimantan{
        top: -960%; 
        left: 590%;
    }
    #sulawesi{
        top: -850%; 
        left: 840%;
    }
    #maluku{
        top: -850%; 
        left: 1100%;
    }
    #papua{
        top: -770%; 
        right: -1540%;
    }
    #bali{
        top: -430%; 
        left: 880%;
    }
    #jawa{
        top: -535%; 
        left: 550%;
    }
}

/* BE Dashboard Navbar */
#akun:checked+#akun {
    display: block;
}

.menu-malasngoding li a {
    display: inline-block;
    color: white;
    /* text-align: center; */
    text-decoration: none;
}

.menu-malasngoding li a:hover {
    background-color: none;
}

li.dropdown {
    display: inline-block;
    margin-right: 80px
}

.dropdown:hover .isi-dropdown {
    display: block;
}

.isi-dropdown a:hover {
    color: #fff !important;
    width: 100%;
}

.isi-dropdown {
    position: absolute;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: #f9f9f9;
    width: 100%;
}

.isi-dropdown a {
    color: #3c3c3c !important;
    padding: 1%;
}

.isi-dropdown a:hover {
    color: #232323 !important;
    background: #f3f3f3 !important;
}

/* For summernote override unordered and order list */
.note-editable ul{
    list-style: disc !important;
    list-style-position: inside !important;
}

.note-editable ol {
list-style: decimal !important;
list-style-position: inside !important;
}