.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e6e6e6;
}

.animated-image {
    animation: bounce 2s infinite;
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
}

.animated-text {
    animation: slideInLeft 1s;
    color: #9E3D64;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.animated-button {
    animation: pulse 2s infinite;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #9E3D64;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}

@keyframes slideInLeft {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
